@using WallPostByTechBrij.Helpers
@model List<WallPostByTechBrij.Controllers.TreeViewLocation>

@if (Roles.IsUserInRole("GiangVien"))
{
    <a href="#" onclick="uploadFileForTask()">abc</a>
}


@*bien luu catology khi xu ly colick*@
<input id="TextboxValueHidden" type="hidden" class="form-control" value="83E14AA7-707D-4479-B489-4777768FCC7A" title="@Url.Action("CreateFiles", "FileSystem", null, Request.Url.Scheme)">
<form id="myAwesomeDropzone"
      data-otf-target="#ListFileOfFolder"
      class="dropzone"
      action="@Url.Action("CreateFiles", "FileSystem", null, Request.Url.Scheme)"
      method="post"
      enctype="multipart/form-data" style="min-height: 50px !important; padding: 5px !important;">
    <div class="dropzone-previews"></div>
</form>
<div id="ListFileOfFolder">
    @Html.Partial("~/Views/FileSystem/_PartialListFiles.cshtml")
</div>

@section Scripts {
    <script type="text/javascript">
        //guid thu muc test
        //83E14AA7-707D-4479-B489-4777768FCC7A
        function uploadFileForTask() {
            var abc = $("#TextboxValueHidden").val();
            $("form#myAwesomeDropzone").attr('action', $("#TextboxValueHidden").attr("title") + "?catGuid=" + $("#TextboxValueHidden").val());
            //$("#my-awesome-dropzone div.dz-message").click();
            $("#ListFileOfFolder").load('@(Url.Action("LoadList", "FileSystem", null, Request.Url.Scheme))?catGuid=' + abc);
        }

        $(document).ready(function () {

            Dropzone.options.myAwesomeDropzone = {
                autoProcessQueue: true,
                parallelUploads: 1,
                maxFiles: 100,
                paramName: "files",
                uploadMultiple: false,
                maxFilesize: 1000,
                // Dropzone settings
                init: function () {
                    var myDropzone = this;
                    this.on("complete", function (data) {
                        //var res = eval('(' + data.xhr.responseText + ')');
                        //var res = JSON.parse(data.xhr.responseText);

                    });
                    this.on("queuecomplete", function (file) {
                        var abc = $("#TextboxValueHidden").val();
                        $("#ListFileOfFolder").load('@(Url.Action("LoadList", "FileSystem", null, Request.Url.Scheme))?catGuid=' + abc);
                        myDropzone.removeAllFiles();
                    });
                    this.on("errormultiple", function (files, response) {
                    });
                    this.on("processing", function (file) {
                        this.options.url = $("form#myAwesomeDropzone").attr("action");
                    });
                }
            }
        });
    </script>
}
                    