@using MvcPaging
@*@model IPagedList<_project.library.Users>*@

<table class="table table-hover table-mail">
    <thead>
        <tr>
            <th class="text-center w-50">
                <input id="CheckBoxAll" onclick="javascript: checkAlllist('#listcheckall',this);" type="checkbox" />
            </th>
            <th class="text-center w-50">
                #
            </th>
            <th>
                Tên đăng nhập
            </th>
            <th>
                Họ tên
            </th>
            <th>
                Ngày sinh
            </th>
            <th>
                Điện thoại
            </th>
            <th>
                Địa chỉ
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="listcheckall">
        @{var i = 1;
        }
        @foreach (_project.library.Users item in (IPagedList<_project.library.Users>)ViewBag.ListUsers)
        {

            <tr class="showhim">

                <td class="w-check">
                    <input type="checkbox" class="checkbox-item" value="@item.UserId" />
                </td>
                <td style="height: 50px; width: 50px; text-align: center;">
                    @Html.Raw((ViewBag.ListUsers.PageNumber - 1) * ViewBag.ListUsers.PageSize + i)
                    @{i++;}
                </td>
                <td>
                    @Html.DisplayFor(x => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(x => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(x => item.NgaySinh)
                </td>
                <td>
                    @Html.DisplayFor(x => item.DienThoai)
                </td>
                <td>
                    @Html.DisplayFor(x => item.DiaChi)
                </td>
                <td>
                    <a class=""
                       data-otf-method="get"
                       data-toggle="modal"
                       title="Chỉnh sửa"
                       data-otf-action="@Url.Action("Edit", "Users", null, Request.Url.Scheme)?diugresu=@item.UserId"
                       data-otf-target="#EditUser"
                       data-target="#modalEditUser"
                       onclick="openPopupUsers(this)">Sửa</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<div class="pager1">

    @Html.Raw(Ajax.Pager(
            new Options
            {
                PageSize = ViewBag.ListUsers.PageSize,
                TotalItemCount = ViewBag.ListUsers.TotalItemCount,
                CurrentPage = ViewBag.ListUsers.PageNumber,
                ItemTexts = new ItemTexts() { Next = "Next", Previous = "Previous", Page = "" },
                ItemIcon = new ItemIcon() { First = "icon-backward", Previous = "icon-chevron-left", Next = "icon-chevron-right", Last = "icon-forward" },
                TooltipTitles = new TooltipTitles() { Next = "Next page", Previous = "Previous page", Page = "Page {0}." },
                Size = Size.normal,
                Alignment = Alignment.centered,
                IsShowControls = true,
                IsShowFirstLast = true,
                CssClass = ""
            },
            new AjaxOptions
            {
                UpdateTargetId = "ListUsers"
                //OnBegin = "beginPaging",
                //OnSuccess = "successPaging",
                //OnFailure = "failurePaging"
            }, new { controller = "Users", action = "LoadListUsers", q = @ViewData["query"] }))

</div>
<div>
    Tổng cộng (@ViewBag.ListUsers.TotalItemCount)
</div>
