<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - (E-Bag) IOIORT</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/plugins/dropZoneStyles")

</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title">@Html.ActionLink("E-Bag", "Index", "Home")</p>
            </div>
            <div class="float-right">
                <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>
                <nav>
                    <ul id="menu">
                        <li>@Html.ActionLink("Trang chủ", "Index", "ChuongTrinhGiangDay")</li>
                        <li>@Html.ActionLink("Quản lý tài liệu", "Index", "ManageDoc")</li>
                        <li>@Html.ActionLink("Tìm kiếm giảng viên", "Index", "TimKiemUser")</li>
                        <li>@Html.ActionLink("Quản lý User", "Index", "Users")</li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year &nbsp; by <b>IOIORT</b> Team</p>
            </div>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/plugins/dropZone")
    @RenderSection("styles", required: false)
    @RenderSection("scripts", required: false)
</body>
</html>
